# Environnement virtuel
venv/
env/

# Variables d'environnement / Secrets
.env

# Cache Python
__pycache__/
*.pyc

# Fichiers de données locaux (on ne veut pas versionner les CSV de test)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep